<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<style>
    h1 {
        color:black;
        font-size: 50px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .message {
        color: red;
        font-size: 20px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>

<header>
    <%- include('../partials/header'); %>
</header>

<body class="container">
    <main>
        
        <div>
            <form action="/admin_validation_accounts" method="post" class="jumbotron">
                <h2>Please Validate Your Login Information</h2>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required
                    autofocus>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                    required>
                 </div>


                <input class="btn btn-lg btn-primary btn-block" type="submit">
            </form><BR><BR>

                <% if (flag == 1) { %>
                    <p class="message"><%= not_valid %></p>
                <% } %>
                <% if (flag == 2) { %>
                    <p class="message"><%= response %></p>
                    <p class="message">PLEASE TRY AGAIN</p>
                <% } %>
        </div>
    </main>

</body>

</html>