<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<%- include('../partials/Modal'); %>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Licenses</h2>
            <div>
                <button class="btn btn-link" id="myBtn">Add New License</button>
    
                <div id="myModal" class="modal">
    
                    <!-- Modal content -->
                    <div class="modal-content">
                      <span class="close">&times;</span>
                      <form action="" method="post">
                        <div class="col-xs-3">
                            <h2>Add New License</h2>
                            <label for="ex1">License Name</label>
                            <input class="form-control" name="licensename" id="ex1" type="text">
                            <label for="ex1">License Description</label>
                            <input class="form-control" name="licensedesc" id="ex1" type="text">
                            <label for="ex1">Expiration Date</label>
                            <input class="form-control" name="licenseexpdate" id="ex1" type="text"><BR>
                            <button type="submit" style="background-color:#198754" class="btn btn-success">Submit</button>
                      </div>
                      </form>
                        
                     </div>
    
                    </div>
                
                <button class="btn btn-link" id="myBtn2">Update Existing License</button>
                <div id="myModal2" class="modal">
    
                    <!-- Modal content -->
                    <div class="modal-content">
                      <span class="close2">&times;</span>
                      <form action="" method="post">
                        <div class="col-xs-3">
                            <h2>Add New License</h2>
                            <label for="ex1">License Name</label>
                            <input class="form-control" name="uplicensename" id="ex1" type="text">
                            <label for="ex1">License Description</label>
                            <input class="form-control" name="uplicensedesc" id="ex1" type="text">
                            <label for="ex1">Expiration Date</label>
                            <input class="form-control" name="uplicenseexpdate" id="ex1" type="text"><BR>
                            <button type="submit" style="background-color:#198754" class="btn btn-success">Submit</button>
                      </div>
                      </form>
    
                    </div>
                    
                </div>
                <button class="btn btn-link" id="myBtn3">Delete Existing License</button>
    
                <div id="myModal3" class="modal">
    
                    <!-- Modal content -->
                    <div class="modal-content">
                      <span class="close3">&times;</span>
                      <h2>Delete Existing License</h2>
                      <form action="" method="post">
                        <!--drop down of invoice here-->
                            <button type="submit" style="background-color:#198754" class="btn btn-success">Submit</button>
                      </form>
                    </div>
                    
                </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>