<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <meta http-equiv="Refresh" content="1; url='http://localhost:8080/'" />
</head>

<%- include('../partials/Modal'); %>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main class="jumbotron">
        <div class="text-center">
            <h1>Successfully Logged Out</h1>
            <h1>Redirecting in to Loggin Page...</h1>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>